APP_NAME=api-gateway
APP_ENV=local

HTTP_HOST=0.0.0.0
HTTP_PORT=8086

LOG_LEVEL=debug
LOG_PRETTY=true

REQUEST_TIMEOUT=5s

JWT_SECRET=
JWT_ACCESS_TTL=15m

RATE_LIMIT_MAX=100
RATE_LIMIT_EXPIRATION=1m

AUTH_SERVICE_ADDR=localhost:50051
NEWS_SERVICE_ADDR=localhost:50052
REQUESTS_SERVICE_ADDR=localhost:50053
NOTIFICATIONS_SERVICE_ADDR=localhost:50054
PROFILE_SERVICE_ADDR=localhost:50055
