go 1.25.6

use (
	./api-gateway
	./contracts
	./microservices/auth-service
	./microservices/news-service
	./microservices/notification-service
	./microservices/profile-service
	./microservices/requests-service
)
