APP_NAME=profile-service
APP_ENV=local
GRPC_HOST=0.0.0.0
GRPC_PORT=50055
DATABASE_DSN=host=localhost user=postgres password=postgres dbname=ufanet_profile port=5432 sslmode=disable TimeZone=Asia/Yekaterinburg
LOG_LEVEL=debug
LOG_PRETTY=true
