APP_NAME=notification-service
APP_ENV=local
GRPC_HOST=0.0.0.0
GRPC_PORT=50054
DATABASE_DSN=host=localhost user=postgres password=postgres dbname=ufanet_notifications port=5432 sslmode=disable TimeZone=Asia/Yekaterinburg
REDIS_ADDR=localhost:6379
REDIS_NOTIFICATIONS_STREAM=notifications
LOG_LEVEL=debug
LOG_PRETTY=true
