APP_NAME=requests-service
APP_ENV=local
GRPC_HOST=0.0.0.0
GRPC_PORT=50053
DATABASE_DSN=host=localhost user=postgres password=postgres dbname=ufanet_requests port=5432 sslmode=disable TimeZone=Asia/Yekaterinburg
NOTIFICATIONS_SERVICE_ADDR=localhost:50054
REQUEST_TIMEOUT=5s
LOG_LEVEL=debug
LOG_PRETTY=true
