APP_NAME=auth-service
APP_ENV=local

GRPC_HOST=0.0.0.0
GRPC_PORT=50051

LOG_LEVEL=debug
LOG_PRETTY=true

DATABASE_DSN=host=localhost user=postgres password=postgres dbname=ufanet_auth port=5432 sslmode=disable TimeZone=Asia/Yekaterinburg

JWT_SECRET=dev-secret-change-me
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=168h
JWT_ISSUER=auth-service
